@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Playfair Display", serif;
  background-color: #000;
  color: #fff;
}
