@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional subtle vertical grid lines */
:root {
  --fc-border-color: rgba(255, 255, 255, 0.08);
}
.bg-lines {
  background: repeating-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.06) 0,
    rgba(255, 255, 255, 0.06) 1px,
    transparent 1px,
    transparent 120px
  );
  opacity: 0.2;
}
